body {
  background-color: #000!important;
  font-family: "Montserrat", sans-serif!important;
  caret-color: transparent!important;
  color: #fff!important;
}
*{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
